<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        (click)="collapsed = !collapsed"
      >
        <span *ngFor="let i of [1, 2, 3]" class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Recipe Book</a>
    </div>
    <div
      class="navbar-collapse"
      [class.collapse]="collapsed"
      (window:resize)="collapsed = true"
    >
      <ul class="nav navbar-nav">
        <li
          (click)="onSelectNav('recipe')"
          [ngClass]="{ active: selectedNav === 'recipe' }"
        >
          <a href="#">Recipes</a>
        </li>
        <li
          (click)="onSelectNav('shopping-list')"
          [ngClass]="{ active: selectedNav === 'shopping-list' }"
        >
          <a href="#">Shopping List</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"
            >Manage <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
